*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --title-color: #ffd701
}

body{
    background-color: #020307;
    color: white
}

h2{
    margin-top: 2rem;
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.details img{
    max-height: 350px;
}

.details div{
    margin-left: 2rem
}

.details p, .story p:first-child{
    color: var(--title-color);
    font-size: 1.1rem;
}

.story{
    margin: 2rem 5rem;
}

.links{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.links a{
    background-color: aqua;
    padding: 10px;
    border-radius: 15px;
}

.links a:hover{
    background-color: rgba(0, 255, 255, 0.747);
}